@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Roboto:wght@100;300;400;700;900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  list-style:none;
  font-family:"Roboto",sans-serif;
  
}
:root{
--color-text:#1E1E1E;
--color-background:#f0e9e6;
--color-text-two:#4849A1;
--color-hover:#4C5486;
--color-alternative:#FF7F5D;
}
::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-track {
  background:#f0e9e6;
}
::-webkit-scrollbar-thumb {
  background: #1E1E1E;
  border-radius:10px;
  transition:all .2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #4C5486;
}
/* navbar */
.navbar{
  width:100%;
  display:flex;
  height:6rem;
  background-color:var(--color-background);
  align-items: center;
  position:relative;
  box-shadow:1px 1px 5px #000;
}
.logo{
  width:40%;
  margin-left:10px;
  
}
.logo h1{
  font-family: 'Ceviche One', cursive;
  color:var(--color-text-two);
  text-shadow:4px 0px 2px #000;
  font-size:2.8rem;
}
.navigation{
  width:100%; 
  display:flex;
 justify-content: center;
  align-items: center;
  height: 100%;
  z-index:10;
}
.closeBtn{
  display:none;
}
.openBtn{
  display:none;
}
.nav-elem{
  margin-left:auto;
}
.nav-elem a{
  font-size:20px;
  color:var(--color-text-two);
  transition:all .2s ease-in-out;
  font-weight: 500;
}
.nav-elem a:hover{
  color:var(--color-text);
  
}
.social-icons{
  display:flex;
  margin-left:auto;
  margin-right:20px;
  width:20%;
  height:100%;
  align-items:center;
}
.social-elem{
  font-size:1.4rem;
  margin-right:15px;
  background-color:white; 
  display:flex;
  align-items:center;
  justify-content:center;
  height:38px;
  width:40px;
  padding-top:3px;
  text-align: center;
  border-radius:30%;
  box-shadow:1px 1px 3px #000;
  transition:all .2s ease-in-out;
}
.social-elem a{
  transition:color .3s ease-in-out;
}
.social-elem:hover{
  transform:scale(1.05);
}
.resume{
  color:var(--color-alternative);
}
.linkedin{
  color: #2867B2;
}
.git{
  color:#333;
}
.resume:hover,.linkedin:hover, .git:hover{
  color:var(--color-text);
}

@media screen and (max-width:868px){
  .navigation{
    position:fixed;
    height: 100vh;
    width:48%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    top:0;
    right:0;
    transform:translateX(100%);
    background-color:#e7d7c6;
    transition: all .3s ease-in-out;
  }
 .open{
  transform:translateX(0%);
  }
 
  
  .nav-elem, .social-icons{
    margin:35px auto;
  }
  .nav-elem a{
    font-size:1.6rem;
  }
  .navigation .social-icons{
    height:10%;
    width:100%;
    justify-content:center;
  }
  .social-elem{
    margin:0px 15px;
  }
  .social-elem a{
    font-size: 1.8rem;
  }
  .openBtn{
    display:block;
    position:absolute;
    right:5%;
    top:30%;
    font-size:35px;
    cursor: pointer;
    color:var(--color-text-two);
    transition:all 0.2s ease-in-out;
  }
  .openBtn:hover {
    transform:scale(1.1);
    color:var(--color-text);
  }
  .closeBtn{
    display:block;
    position:absolute;
    top:5%;
    left:5%;
    font-size:22px;
    color:var(--color-text-two);
    cursor:pointer;
  }
}
@media screen and (max-width:600px){
  .navigation{
    width:100%;
  }
  .logo{
    width:60%;
  }
}
@media screen and (max-width:480px) {
  .logo{
    width:60%;
  }
  .logo h1{
    font-size:2.5rem;
  }
}
/* end of navbar */
/* home */
.presentation{
  display:flex;
  height: 60vh;
  flex-wrap:wrap;
}
.presentation .column{
  width:50%;
  display:flex;
  align-items:center;
  flex-direction:column;
  height:100%;
  justify-content: center;
  padding:10px;
}
.column h1{
  font-size:2.3rem;
  margin-right:auto;
  margin-left:14px;
  color:var(--color-alternative);
  text-shadow:1px 1px 2px #000;
  
}
.column h1 .bar{
  margin:4px auto;
  width:70%;
  border-bottom:2px solid var(--color-alternative);
}
.column p{
  font-size:1.4rem;
  text-align: start;
  margin-top:20px;
  margin-left:15px;
  letter-spacing: .25rem;

}
.column p span {
  color:var(--color-text-two);
  font-weight:700;
}
.column img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width:868px){
  .presentation{
    height:100%;
    justify-content: center;
  }
  .presentation .column{
    width:70%;
    margin-top:20px;
  }
  .column h1{
    margin:15px auto;
  }
  .column p{
    margin:auto;
    width:100%;
  }
}
@media screen and (max-width:500px){
    .presentation .column{
      width:100%;
      padding:8px;
    }
    .column h1{
      font-size:1.7rem;
    }
    .column p{
      font-size:1.3rem;
      letter-spacing: 0.15rem;
      text-align: center;
    }
    .column img{
      width:70%;
      height:70%;
    }
}
/* end of home */

/* basic projects */
.basic-projects-section{
  height:100%;
  padding:20px;
  background-color:var(--color-background);
}
.basic-projects-section h1{
  color:var(--color-alternative);
  font-size:2.4rem;
  text-align: center;
  padding-top:20px;
  display:flex;
  align-items:center;
  flex-direction: column;
  text-shadow: 1px 1px 2px #000;

}
.basic-projects-section h1 .bar{
  border-bottom: 2px solid var(--color-alternative);
  width:20%;
  margin-top:5px;
  
}

@media screen and (max-width:500px) {
  .basic-projects-section h1 {
    font-size:1.7rem;
  }
}
/* end of basic projects */

/* scroll up btn */
.scrollUp{
  position:fixed;
  bottom:2%;
  left:2%;
  padding:5px;
  font-size:18px;
  border:1px solid black;
  background-color:white;
  border-radius:6px;
  transition:all .2s ease-in-out;
  cursor: pointer;
  opacity: 1;
  z-index:1;
}
.scrollUp:hover{
  color:var(--color-hover);
  border:2px solid var(--color-hover);
}
.invisible{
  opacity:0;
  z-index:-1;
}
/* end scroll up btn */

/* card list component */

.card-list{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  height:100%;
  width:100%;
}
.card{
  height:420px;
  width: 35%;
  background-color:white;
  margin:25px;
  box-shadow:1px 1px 6px #000;
  border-radius:5px;
  transition:all .3s ease-in-out;
}
.card:hover{
  transform:scale(1.02);
  box-shadow:1px 1px 6px var(--color-hover);
}
.img-container{
  width:100%;
  height: 75%;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}
.img-container::before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  right:-100%;
  background-color:#f0e9e650;
  transition:all .2s ease-in-out;
}
.img-container:hover::before{
  right:0%;
}
.img-container:hover .card-link{
  opacity:1;
  z-index:1;
}
.img-container img {
  height:100%;
  width: 100%;
  object-fit:cover;
  border-radius:6px 6px 0px 0px;
}
.info-card{
  height:25%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.card-title{
  font-size:22px;
  color:var(--color-text-two);
}
.card-link{
  background-color:var(--color-alternative);
  font-size:22px;
  color:var(--color-text);
  padding:10px;
  position:absolute;
  opacity:0;
  z-index:-1;
  border-radius:45%;
  transition:all .3s ease-in-out;
  box-shadow:1px 1px 7px #000;
}
.card-link:hover{
  background-color:var(--color-hover);
  color:var(--color-background);
}
@media screen and (max-width:868px){
  .card{
    width: 350px;
  }
  .img-container img{
    object-fit:fill;
  }
}
@media screen and (max-width:500px){
  .card{
    width:90%;
    height:350px;
  }
  .img-container img{
    object-fit:cover;
  }
}
/* end of card list component */
